<footer class="footer border-top pt-4 mt-5 text-center text-secondary small">
  <nav class="mb-2">
    <ul class="list-inline mb-2">
      <li class="list-inline-item">
        <a class="link-secondary" target="_blank" rel="noopener" href="https://policies.storehex.com/lsi/terms-of-service.html">Terms of Service</a>
      </li>
      <li class="list-inline-item text-secondary-emphasis">|</li>
      <li class="list-inline-item">
        <a class="link-secondary" target="_blank" rel="noopener" href="https://policies.storehex.com/lsi/privacy-policy.html">Privacy Policy</a>
      </li>
    </ul>
  </nav>
  <p class="mb-0">&copy; 2026 StoreHex.</p>
</footer>
